#editarSolicitudLab
{
	display: none;
}
#eleccionMaterial, #eleccionMaterialE
{
	display: none;
}
#lista
{
	display: none;
}
#sNuevaMaestro
{
	display: none;
}
#sPendientesMaestro
{
	display: none;
}
#sRealizadas
{
	display: none;
}
