#loaderImage #loaderImageG
{
	display: none;
	text-align: center;
	margin: 5% 0px;
	width: 100%;
	height: 100%;
	/*z-index: 3;*/
	/*position: absolute;*/
	/*margin-left: 33%;*/
}
.bajo
{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 105.5px;
}
.cuadro
{
	border: 2px solid black;
}
.centrado
{
	text-align: center;
}
#editarSolicitudLab
{
	display: none;
}
#eleccionMaterial, #eleccionMaterialE
{
	display: none;
}
.fuente
{
	font-weight: bold;
	font-size: 14px;
	font-family: arial;
	color: black;
}
#lista
{
	display: none;
}
#LogoTec
{
	width: 100px;
	height: 97px;
}
#sNuevaMaestro
{
	display: none;
}
#sPendientesMaestro
{
	display: none;
}
#sRealizadas
{
	display: none;
}

