#editarSolicitudLab
{
	display: none;
}
#eleccionMaterial, #eleccionMaterialE
{
	display: none;
}
#lista
{
	display: none;
}
#LogoTec
{
	width: 100px;
	height: 100px;
}
#sNuevaMaestro
{
	display: none;
}
#sPendientesMaestro
{
	display: none;
}
#sRealizadas
{
	display: none;
}
